<div id="section-hero">
	<div class="container">
		<div class="section-hero">
			<div class="row">
				<div class="twelve columns">
					<%= image_tag "catalant-logo-white.png", alt: "catalant-logo", class: "logo"%>
				</div>
			</div>

			<div class="row intro">
				<div class="six columns description">
					<h1 class="inverted">
						Tap into the business knowledge of 30,000 Catalant experts.
					</h1>
					<div class="line-break"></div>
					<p class="inverted">
						Send a quick text message and get connected to Catalant's network of business experts, armed with the expertise you need.
					</p>
					<a class="button button-primary mobile-only" href="sms://+16172061927">Send Message</a>
					<h1 class="desktop-only number">
						(617) 206-1927
					</h1>
					<p class="subtitle inverted">
						Standard text messaging and data charges may apply.
					</p>
				</div>
				<div class="six columns">
					<%= image_tag "phone.png", alt: "message examples", class: "phone"%>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="twelve columns section-header">
				<h1>
					How It Works
				</h1>
				<div class="line-break"></div>
				<p>
					We know you’re busy, so we’ve cut out lengthy forms and made it easier to get the help you need when you need it.
				</p>
			</div>
		</div>

		<div class="how-it-works">
			<div class="row">
				<div class="four columns">
					<%= image_tag "Consulting_orange.png", alt: "consulting"%>
					<p class="title">
						Tell us what you need
					</p>
					<p>
						Send us a quick text message about what you need help with.
					</p>
				</div>
				<div class="four columns">
					<%= image_tag "ReviewProfile_orange.png", alt: "review profiles"%>
					<p class="title">
						Meet your panel of experts
					</p>
					<p>
						We’ll send you a short list of experts with the experience you need.
					</p>
				</div>
				<div class="four columns">
					<%= image_tag "Pod_TMT_orange.png", alt: "start project"%>
					<p class="title">
						Start a project
					</p>
					<p>
						Augment your team by hiring an expert for a short-term project.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section experts">
	<div class="container">
		<div class="row">
			<div class="twelve columns section-header">
				<h1>
					Our Expert Network
				</h1>
				<div class="line-break"></div>
				<p>
					Our experts have founded companies, attented world-leading business schools, and worked at the Big Three consultancies.
				</p>
			</div>
		</div>

		<div class="row expert-experience">
			<div class="three columns">
				<%= image_tag "yale.png", alt: "yale"%>
			</div>
			<div class="three columns">
				<%= image_tag "bain.png", alt: "bain"%>
			</div>
			<div class="three columns">
				<%= image_tag "stanford.png", alt: "stanford"%>
			</div>
			<div class="three columns">
				<%= image_tag "bcg.png", alt: "bcg"%>
			</div>
		</div>

		<div class="description cta">
			<p>
				Send a quick text message and get connected to Catalant's network of business experts, armed with the expertise you need.
			</p>
			<a class="button button-primary mobile-only" href="sms://+16172061927">Send Message</a>
			<h1 class="desktop-only number">
				(617) 206-1927
			</h1>
		</div>
	</div>
</div>